
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Upload resume &middot;</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <div class="container-narrow">
      <div class="masthead">

          <ul class="nav nav-pills pull-right">
          <li ><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
        </ul>
          <h3>Agiliq </h3>
      </div>

      <hr>

      <div class="page-header">
        <h1>wanna join ?? <small></small></h1>
          <center> <a href={{ login_url }} rel="external" >
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-log-in"></span> Login
            </button><a></center>
      </div>
      <div class="footer navbar-fixed-bottom">
        <p>&copy;uday12kumar</p>
      </div>

    </div>


  </body>
</html>
